*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#color-button {
    background-color: orange;
    padding: 1%;
    font-size: 110%;
    box-shadow: 3px 3px 2px #be8314;
    border: 2px solid rgb(213, 149, 31);
    cursor: pointer;
   
}

#color-button:hover {
    background-image: linear-gradient(orange, rgb(220, 141, 7));
}

.color-changer-box {
    margin: 1.5%;
}

#current-color {
    margin: 1.5%;
    font-size: 120%;
}

.joy {
    color: #dd5353;
    color: #559c55;
    color: #1a1a6a;
    color: #000000;
    color: #464612;
    color: #012121;
    color: #bdaf94;
    color: #957e83;
} 
